root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4

[*.{c,cc,cpp,h,hh,hpp,ipp,mm,m}]
indent_size = 4
max_line_length = 100

[*.{js,mjs,json,jsonc,qml,ts,html,css,yml,yaml}]
indent_size = 2

[*.{cmake,txt}]
indent_size = 2

[CMakeLists.txt]
indent_size = 2

[*.{md,markdown}]
trim_trailing_whitespace = false
indent_size = 2

[*.{sh,bash}]
indent_style = space
indent_size = 2

[*.ps1]
end_of_line = crlf
indent_size = 4

[Makefile]
indent_style = tab

[*.sql]
indent_size = 2

[*.fbs]
indent_size = 2

[*.proto]
indent_size = 2
